@charset "ISO-8859-1";
* {
	font-family: arial;
	margin: 0px;
	padding: 0px;
}
h1{
	Color: red;
	margin-left: 30%;
}
table{
	margin-left: 10%;
	border: 2px black solid;
}
th {
	margin: 2%;
	border: 2px black solid;
}
.bordeT{
	margin: 2%;
	border: 2px black solid;
}
a{
	margin-left: 10%;
	color:green;
}
